<body>
    <div class="container-fluid" style="margin-top: 180px;">
        <h1 class="text-center display-4" style="color: cadetblue;">Implementações Matemática II e Cálculo Numérico Computacional</h1>

        <div class="my-5 text-center">
            <a class="btn btn-outline-primary btn-lg py-3 px-5" (click)="redirecionarRota('matematica/mudanca-base')">Matemática II</a>
            <a class="btn btn-outline-info btn-lg py-3 px-5 ml-5" (click)="redirecionarRota('calculo-numerico/integracao-numerica')">Cálculo Numérico</a>
        </div>
    </div>
</body>