<h1 class="text-center display-4 my-3">Matriz Mudança de Base</h1>

<a class="btn btn-secondary py-2 px-4 ml-3 mb-2" href="/">Voltar</a>

<!-- BASE 2x2 -->
<p-tabView (onChange)="checarAba($event)" [activeIndex]="indexAba">
    <p-tabPanel header="Base 2x2">
        <div class="text-center">
            <div>
                <div class="h2 text-primary">Base X</div>
                
                <div>
                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[0][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[0][1]">
                    <span class="h1 ml-2">)</span>

                    <span class="h4 mx-3">,</span>

                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[1][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[1][1]">
                    <span class="h1 ml-2">)</span>
                </div>
            </div>

            <div class="mt-4">
                <div class="h2 text-primary">Base Y</div>

                <div>
                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[0][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[0][1]">
                    <span class="h1 ml-2">)</span>

                    <span class="h4 mx-3">,</span>

                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[1][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[1][1]">
                    <span class="h1 ml-2">)</span>
                </div>
            </div>

            <button class="btn btn-success px-5 mt-4" (click)="calcular()" style="font-size: 20px;">Calcular</button>
            <button class="btn btn-warning mt-4 ml-3" (click)="resetarValores()" style="font-size: 20px;">Resetar Vetores</button>

            <!-- Resultados -->
            <div class="row mt-5" *ngIf="calculoEfetuado">

                <!-- Mudança de base X para Y -->
                <div class="col-xl-3">
                    <div class="h4 text-danger">Base X para Y:</div>

                    <span class="h2">
                        [U]
                        <span class="h4" style="margin-left: -10px;">xy =</span> 
                    </span>

                    <span class="h4">
                        [ {{ resultanteMatriz_X[0][0] }} , {{ resultanteMatriz_X[1][0] }} ]
                    </span>
                    <div class="h4" style="margin-left: 95px;">[ {{ resultanteMatriz_X[0][1] }} , {{ resultanteMatriz_X[1][1] }} ]</div>
                </div>

                <div class="barra-vertical"></div>

                <!-- Mudança de base Y para X -->
                <div class="col-xl-3">
                    <div class="h4 text-danger">Base Y para X:</div>

                    <span class="h2">
                        [U]
                        <span class="h4" style="margin-left: -10px;">yx =</span> 
                    </span>

                    <span class="h4">
                        [ {{ resultanteMatriz_Y[0][0] }} , {{ resultanteMatriz_Y[1][0] }} ]
                    </span>
                    <div class="h4" style="margin-left: 95px;">[ {{ resultanteMatriz_Y[0][1] }} , {{ resultanteMatriz_Y[1][1] }} ]</div>
                </div>

                <div class="barra-vertical"></div>

                <!-- Verificação -->
                <div class="col-xl-5">
                    <div class="h4 text-danger">Verificação:</div>

                    <span class="h2">
                        [U]
                        <span class="h4" style="margin-left: -10px;">xy *</span>
                        [U]
                        <span class="h4" style="margin-left: -10px;"> yx =</span>
                    </span>

                    <span class="h4">
                        [  ]
                    </span>
                    <div class="h4" style="margin-left: 185px;">[  ]</div>
                </div>
            </div>
        </div>        
    </p-tabPanel>

    <!-- BASE 3x3 -->
    <p-tabPanel header="Base 3x3">
        <div class="text-center" *ngIf="indexAba === 1">
            <div>
                <div class="h2 text-primary">Base X</div>
                
                <div>
                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[0][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[0][1]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[0][2]">
                    <span class="h1 ml-2">)</span>

                    <span class="h4 mx-3">,</span>

                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[1][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[1][1]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[1][2]">
                    <span class="h1 ml-2">)</span>

                    <span class="h4 mx-3">,</span>

                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[2][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[2][1]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_X[2][2]">
                    <span class="h1 ml-2">)</span>
                </div>
            </div>

            <div class="mt-4">
                <div class="h2 text-primary">Base Y</div>

                <div>
                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[0][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[0][1]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[0][2]">
                    <span class="h1 ml-2">)</span>

                    <span class="h4 mx-3">,</span>

                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[1][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[1][1]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[1][2]">
                    <span class="h1 ml-2">)</span>

                    <span class="h4 mx-3">,</span>

                    <span class="h1 mr-2">(</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[2][0]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[2][1]">
                    <span class="h4 mx-2">,</span>
                    <input class="input-style" type="number" pInputText [(ngModel)]="matriz_Y[2][2]">
                    <span class="h1 ml-2">)</span>
                </div>
            </div>

            <button class="btn btn-success px-5 mt-4" (click)="calcular()" style="font-size: 20px;">Calcular</button>
            <button class="btn btn-warning mt-4 ml-3" (click)="resetarValores()" style="font-size: 20px;">Resetar Vetores</button>

            <!-- Resultados -->
            <div class="row mt-5" *ngIf="calculoEfetuado">

                <!-- Mudança de base X para Y -->
                <div class="col-xl-3">
                    <div class="h4 text-danger">Base X para Y:</div>

                    <span class="h2">
                        [U]
                        <span class="h4" style="margin-left: -10px;">xy =</span> 
                    </span>

                    <span class="h4">
                        [ {{ resultanteMatriz_X[0][0] }} , {{ resultanteMatriz_X[1][0] }} ]
                    </span>
                    <div class="h4" style="margin-left: 95px;">[ {{ resultanteMatriz_X[0][1] }} , {{ resultanteMatriz_X[1][1] }} ]</div>
                </div>

                <div class="barra-vertical"></div>

                <!-- Mudança de base Y para X -->
                <div class="col-xl-3">
                    <div class="h4 text-danger">Base Y para X:</div>

                    <span class="h2">
                        [U]
                        <span class="h4" style="margin-left: -10px;">yx =</span> 
                    </span>

                    <span class="h4">
                        [ {{ resultanteMatriz_Y[0][0] }} , {{ resultanteMatriz_Y[1][0] }} ]
                    </span>
                    <div class="h4" style="margin-left: 95px;">[ {{ resultanteMatriz_Y[0][1] }} , {{ resultanteMatriz_Y[1][1] }} ]</div>
                </div>

                <div class="barra-vertical"></div>

                <!-- Verificação -->
                <div class="col-xl-5">
                    <div class="h4 text-danger">Verificação:</div>

                    <span class="h2">
                        [U]
                        <span class="h4" style="margin-left: -10px;">xy *</span>
                        [U]
                        <span class="h4" style="margin-left: -10px;"> yx =</span>
                    </span>

                    <span class="h4">
                        [  ]
                    </span>
                    <div class="h4" style="margin-left: 185px;">[  ]</div>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>