<h1 class="text-center display-4 my-3">Integração Numérica</h1>

<a class="btn btn-secondary py-2 px-4 ml-3 mb-2" href="/">Voltar</a>

<hr>

<div class="text-center">

    <!-- Campos de entrada de Dados -->
    <div class="mt-4">
        <label class="h5 mr-3">Limite Superior:</label>
        <input class="input-style mr-3" type="number" pInputText [(ngModel)]="limiteSuperior"> 
    
        <label class="h5 mx-3">Limite Inferior:</label>
        <input class="input-style mr-3" type="number" pInputText [(ngModel)]="limiteInferior"> 

        <label class="h5 mx-3">N = </label>
        <input class="input-style" type="number" pInputText [(ngModel)]="n"> 
    </div>

    <div class="mt-5">
        <label class="h5 mr-3">Função:</label>
        <input class="input-funcao-style mr-3" type="text" pInputText [(ngModel)]="funcao"> 

        <label class="h5 mr-2">h =</label>
        <input class="input-style mr-3" type="number" pInputText [(ngModel)]="h" [disabled]="true"> 
    </div>

    <button class="btn btn-success px-5 mt-4" (click)="calcular()" [disabled]="!funcao" style="font-size: 20px;">Calcular</button>
    <button class="btn btn-warning mt-4 ml-3" (click)="resetarValores()" style="font-size: 20px;">Resetar Valores</button>

    <!-- Resolução do Cálculo -->
    <div class="mt-4" *ngIf="exibirResolucao">
        <div class="h3 text-danger">Resolução</div>

        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-xl-4 text-center mt-3">
                    <div class="h4 text-info">Valores de X</div>
                    <div *ngFor="let valorAtual_X of x; let i = index" >
                        <div class="h4">f(x{{ i }}) = {{ valorAtual_X }}</div>
                    </div>
                </div>
        
                <div class="barra-vertical"></div>
        
                <div class="col-xl-7">
                    <div class="h4 text-info">Fórmula</div>
    
                    <div class="h4 text-secondary">
                        {{ formulaResultado }}
                    </div>
            
                    <div class="h4 mt-4">
                        {{ processoResultado }} = 
                        <span class="text-danger"> {{ resultado }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
